<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdoner.message.mapper.ExchangesMapper">
    <!-- 分页查询 -->
    <select id="selectByPage" resultType="com.qdoner.message.entity.PO.Exchanges">
        SELECT a.* FROM wm_exchanges a
        <where>
            1=1
            <if test="data.descr != null and data.descr != ''">
                and a.descr like concat('%',concat(#{data.descr},'%'))
            </if>
            <if test="data.name != null and data.name != ''">
                and a.name like concat('%',concat(#{data.name},'%'))
            </if>
        </where>
        order by a.create_time desc
    </select>
</mapper>
