<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdoner.datarecept.env.mapper.EnvPostDataMapper">

    <insert id="batchSaveData" parameterType="com.qdoner.datarecept.env.entity.PO.EnvPostData">
        insert into b_env_post_data
        (equipment_id, monitor_type, monitor_value, log_id, create_time,  tenant_id, project_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.equipmentId}, #{item.monitorType}, #{item.monitorValue}, #{item.logId}, #{item.createTime}, #{item.tenantId}, #{item.projectId})
        </foreach>
    </insert>
</mapper>
