<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdoner.datarecept.mapper.BEquipmentTowerEffectMapper">
    <insert id="batchSaveData">
        insert into b_equipment_tower_effect
        ( project_id,asset_id, tenant_id,
        start_time,end_time,max_moment_early_alarm,end_early_alarm,start_early_alarm,
        max_moment_alarm,end_alarm,start_alarm,start_peccancy,end_peccancy,
        max_moment_peccancy,max_radius,start_angle,max_percent,max_height,
        end_angle,min_radius,max_load,max_wind_speed,min_height,create_time,weight,
        lifting_point_radius, lifting_point_height, lifting_point_radius_unload, lifting_point_height_unload
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.projectId}, #{item.assetId}, #{item.tenantId},
            #{item.startTime},#{item.endTime},#{item.maxMomentEarlyAlarm},#{item.endEarlyAlarm},#{item.startEarlyAlarm},
            #{item.maxMomentAlarm},#{item.endAlarm},#{item.startAlarm},#{item.startPeccancy},#{item.endPeccancy},
            #{item.maxMomentPeccancy},#{item.maxRadius},#{item.startAngle},#{item.maxPercent},#{item.maxHeight},
            #{item.endAngle},#{item.minRadius},#{item.maxLoad},#{item.maxWindSpeed},#{item.minHeight},#{item.createTime},#{item.weight},
            #{item.liftingPointRadius},#{item.liftingPointHeight},#{item.liftingPointRadiusUnload},#{item.liftingPointHeightUnload}
            )
        </foreach>
    </insert>
</mapper>
