<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdoner.datarecept.mapper.EquipmentReceptPlatformMapper">
    <select id="selectByPage" resultType="com.qdoner.datarecept.entity.PO.EquipmentReceptPlatform">
        SELECT p.*
        FROM b_equipment_recept_platform p
        <where>
            <if test="data.name != null and data.name != ''">
                and p.name like concat('%', #{data.name,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>
</mapper>
